@model List<Entities.Cart.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Panel/Views/Shared/_Layout.cshtml";
}

    <div class="container-fluid">
        <!-- Breadcrumbs-->

        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="../Panel/Dashboard">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Products</li>

        </ol>
        <!-- DataTables Example -->
        <div class="card mb-3">
            <div class="card-header">
                <i class="fas fa-table"></i>
                Product Details
                <a href="../Products/AddProduct" class="btn btn-info pull-right fa fa-plus">Add New</a>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Sr. No.</th>
                                <th>Product Name</th>
                                <th>Description</th>
                                <th>Category</th>
                                <th>Unit Price</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Sr. No.</th>
                                <th>Product Name</th>
                                <th>Description</th>
                                <th>Category</th>
                                <th>Unit Price</th>
                                <th>Action</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>@(Model.IndexOf(item) + 1)</td>
                                <td>@item.ProductName</td>
                                <td>@item.Description</td>
                                <td>@item.Category</td>
                                <td>@item.UnitPrice</td>
                                <td>
                                    @Html.ActionLink("Edit", "CategoryEdit", new { catId = item.ProductID })
                                </td>


                            </tr>
                            }

                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
